.htaccess

# WordPress core
/index.php
/license.txt
/readme.html
/xmlrpc.php
/wp-*.php
/wp-admin
/wp-includes
!/wp-content/themes/
/wp-content/uploads/
/wp-content/plugins/akismet
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/wp-content/themes/twenty*
/wp-content/themes/cardinal
/wp-content/themes/lagunita
/wp-content/themes/index.php
wp-content/themes/admin-blog
.installedExtras
wp-migrate-db-pro-compatibility.php

# IDE's
.idea/
wp-content/plugins/node_modules
wp-content/plugins/well-block/node_modules
